<v-container fill-height>
  <v-row>
    <v-col cols='8'>
      <input
        type="text"
        name='url'
        class="form-control"
        placeholder="Input gallery url and click Enter"
        v-model="galleryUrl"
        v-on:keyup.enter="getImages(galleryUrl)"
      />
    </v-col>
    <v-col cols='4'>
      <span class='btn btn-primary' @click='createItem'>Save url to later</span>
      <v-dialog
        v-model="dialog"
        scrollable
        max-width="800px"
      >
        <template v-slot:activator="{ on, attrs }">
          <v-btn
            color="primary"
            dark
            v-bind="attrs"
            v-on="on"
            @click='getGalleries()'
          >
            Display urls
          </v-btn>
        </template>
        <v-card>
          <v-card-title>Select Gallery</v-card-title>
          <v-divider></v-divider>
          <v-card-text style="height: 300px;">
            <p v-for='gallery in galleries' :key='gallery.id'>
              <v-row>
                <v-col cols='8'>
                  <v-text-field
                    v-if='editedIndex === gallery.id'
                    label='Title'
                    v-model='editedItem.title'
                    class='title'
                  ></v-text-field>
                  <span
                    v-else
                    @click='getImages(gallery.website_url)'
                    class='title'>
                    {{ gallery.title }}
                  </span>
                  <span @click='getImages(gallery.website_url)' class='link'>
                    {{ gallery.website_url }}
                  </span>
                </v-col>
                <v-col cols='4'>
                  <template v-if='editedIndex === gallery.id'>
                    <v-icon
                      small
                      class='btn btn-primary'
                      @click='save(editedItem)'
                    > save </v-icon>
                    <v-icon
                      small
                      class='btn btn-default'
                      @click='editedIndex = -1'
                    > cancel </v-icon>
                  </template>
                  <v-icon
                    v-else
                    small
                    class='btn btn-default'
                    @click='editItem(gallery)'
                  > edit </v-icon>
                  <v-icon small class='btn btn-danger' @click="deleteItem(gallery)">delete</v-icon>
                </v-col>
              </v-row>
            </p>
          </v-card-text>
          <v-divider></v-divider>
          <v-card-actions>
            <v-btn color="blue darken-1" text @click="dialog = false">
              Close
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
    </v-col

  </v-row>

  <v-row v-show="visibleGallery">
    <v-col
      v-for='(url,index) in imagesUrl'
      :key='index'
      class="d-flex child-flex"
      cols='4'
    >
      <v-img
        :src="url"
        aspect-ratio="1"
        class="grey lighten-2 my-img"
        @click='showSingleImage(index)'
      >
        <template v-slot:placeholder>
          <v-row
            class="fill-height ma-0"
            align="center"
            justify="center"
          >
            <v-progress-circular
              indeterminate
              color="grey lighten-5"
            ></v-progress-circular>
          </v-row>
        </template>
      </v-img>
    </v-col>
  </v-row>

  <div v-show='!visibleGallery' id='myModal' class='modal'>
    <span class='close cursor' @click='closeModal()'>&times;</span>
    <div class='modal-content'>
      <img :src='singleImage'/>
      <a class='prev' @click='showSingleImage(prev_index)'>&#10094;</a>
      <a class="next" @click='showSingleImage(next_index)'>&#10095;</a>
  </v-row>
</v-container>
